html {
    --basil-green: #88a308;
    --breakpoint: 640px;
}

::selection {
    background: var(--basil-green);
    color: #fff;
}

* {
	margin: 0;
	padding: 0;
}

body {
    font: 100%/1.5 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #333;
    max-width: 840px;
    margin: 0 auto;
    margin-top: 24px;
}

img {
    width: 100%;
    height: auto;
}














